.background-pages-dashboard {
  position: relative;
  background-color: grayscale($color: #192109);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  color: white
}
