 <div class="event-song-list-container" id="programme">
   <div class="event-song-list">
   <h3><i class="fas fa-music"></i>Programme</h3>
    <div class="song-each-list">
      <% @songs.each do | song | %>
        <div class="song-li">
        <h6><i class="fas fa-play-circle d-none" ></i></h6>
        <h6><%= song.start_at.localtime.strftime("%H:%M")%>~ <%= link_to song.name, event_song_path(@event, song), class: "edit-songs-new"%></h6>
        <p><%= song.length_in_minute %>min</p>
        </div>
    <% end %>
   </div> 
  </div>
</div>