<div class="song-container" id="song-<%= song.id %>">
  <i class="author">
    <span><%= song.name %></span>
    <small><%= song.created_at.strftime("%a %b %e at %l:%M%p") %></small>
  </i>
  <p><%= song.description %></p>
</div>