<div class="home-banner">
  <h1>Taktivent</h1>
  <h2>Get tailor-made feedback from your audience
  <br>and take your concert to the next stage</h2>
  <a class="btn btn-flat" href="#">Get Started</a>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h2> </h2>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    2022 Taktivent
  </div>
</div>
