<div class="home-banner">
  <h1>Taktivent</h1>
  <h2>Get tailor-made feedback from your audience
  <br>and take your concert to the next stage</h2>
  <a class="btn btn-flat" href="/dashboard">Get Started</a>
</div>
