<div class="home-banner">
  <h1>Taktivent</h1>
  <h2>Get tailor-made feedback from your audience
  <br>and take your concert to the next level</h2>
  <br>
  <a class="btn-homepage" href="/dashboard">Get Started</a>
</div>
