.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: deeppink;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: yellow;
  color: black;
}

//btn-homepage

.btn-homepage {
 padding: 0.9em 1.9em;
 font-size: 16px;
 border: none;
 background: #6285f8;
 color: white;
 cursor: pointer;
 position: relative;
 z-index: 1;
}

.btn-homepage:hover {
 color: rgb(255, 255, 255);
}

.btn-homepage::before,.btn-homepage::after {
 content: "";
 position: absolute;
 top: 0%;
 left: 0%;
 width: 100%;
 height: 100%;
 background: rgba(128, 128, 128, 0.096);
 backdrop-filter: blur(10px);
 z-index: -1;
 transition: all 0.4s;
}

.btn-homepage::after {
 z-index: -2;
 transition: all 0.4s;
}

.btn-homepage:hover::before {
 background: rgb(0, 0, 0.315);
 border-radius: 10px;
}

.btn-homepage:hover::after {
 background: linear-gradient(to right, #cb6ce6, #38b6ff);
 border-radius: 10px;
 transform: scale(1.07, 1.2) rotateX(180deg);
}
