#background{
  img{
    width:  100%;
    height: 350px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    border-radius: 20px;
  }
}

.song-img-container{
  img{
    width:  100%;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}

.pictureTarget{
  width: 100px;
  height: 50px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
}

#display-image{
  width: 300px;
  height: 169px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
}